/* ===============================
====== Text Overrides =========
==================================*/
.is-muted{
    color: $grey-light !important;
}

a.is-muted:hover{
    color: $grey !important;
}
/* ===============================
====== Buttons Overrides =========
==================================*/
.hero .button{  /* przycisk na sliderze */
    color: darkgray;
    background-color: black;
    border-color: darkgray;
  }

  /* ===============================
  ====== Footer Overrides =========
  ==================================*/
.footer{
  padding: 10px 10px;
}

/* ===============================
====== Dropdown Override =========
==================================*/

.dropdown{
    position: relative;

    .dropdown-menu{
        display: none;
        position: absolute;
        left: 0;
        top: 103%;
        z-index: 1000;
        background-color: white;
        min-width: 200px;
        text-align: left;
        box-shadow: 0 0 1px rgba(57,70,78,.15), 0 20px 55px -8px rgba(57,70,78,.25);

        li{
            &.separator{
                border-top: 1px solid #ccc;
                margin: 5px 0;
            }

        &>a{
            margin: 5px 0;
            padding: 5px 0 5px 10px;
            display: block;

            &:hover{
                background-color: whitesmoke;
            }
        }
    }
    }



     &.is-aligned-right .dropdown-menu{
        right: 0;
         left: auto;
    }

    &.is-open .dropdown-menu{
        display: block;
    }

}
