html{
	background-color: $body-bg;
}

.navbar{
	z-index: 999;
}

#slider{
	
	padding: 100px 0;
	background: url('/images/slider.jpg');
	background-position: center;
	background-repeat: no-repeat;
  background-attachment: fixed;
}
.hero hr{
	border: 1px darkgray solid;
}

#adoption{
	background-color: white;
}
